In [1]:
import pandas as pd
import numpy as np

## Small sample

In [2]:
PATH_TRAIN_J = '../../../../data/raw/Oscar_data/PP/pp_train_adult_2634.json'
PATH_TRAIN_T = '../../../../data/raw/Oscar_data/PP/pp_train_adult_2634.txt'

In [16]:
df_train = pd.read_json(PATH_TRAIN_J)
df_train[['text']].to_csv (PATH_TRAIN_T, index = False, header=False)
df_train[['text']]

0       Also known as: Stahl-Justiz, La vengeance de J...
1       Description: The film Delirium is about a madm...
2       The Chicago Public Library's flagship teen pro...
3       This policy explains in detail how “The Realm”...
4       The versatile design of Sir Richard's Command ...
                              ...
2629    VAN NUYS, CA | Airerose Entertainment is proud...
2630    With this membership, you gain full access to ...
2631    Getty\tTim Boyle #8 of the Green Bay Packers l...
2632    You must be at least 18 years old or the age o...
2633    Rahm Emanuel: Once an ambitious, calculating p...
Name: text, Length: 2634, dtype: object

## Big sample

In [2]:
PATH_TRAIN_J = '../../../../data/raw/Oscar_data/PP/pp_train_adult_big.json'
PATH_TRAIN_T = '../../../../data/raw/Oscar_data/PP/pp_train_adult_big.txt'

In [3]:
df_train = pd.read_json(PATH_TRAIN_J)
df_train[['text']].to_csv (PATH_TRAIN_T, index = False, header=False)
df_train[['text']]

                                                    text
0      Also known as: Stahl-Justiz, La vengeance de J...
1      Description: The film Delirium is about a madm...
2      The Chicago Public Library's flagship teen pro...
3      This policy explains in detail how “The Realm”...
4      The versatile design of Sir Richard's Command ...
...                                                  ...
23697  Interracial relationships essay a type of work...
23698  8th street latinas scientists say that the sun...
23699  I did pick the word out the tasks for to depar...
23700  Robert looked at him telling me vulnerable i w...
23701  This policy explains in detail how “The Realm”...

[23702 rows x 1 columns]